In [4]:
from PIL import Image, ImageDraw, ImageFont
import random
import pandas as pd

In [7]:
with open('info.csv', 'r') as f:
    source = f.readlines()

data = []
for i in range(len(source)):
    data.append(source[i].replace('\n', ''))
df = pd.Series(data).str.split(pat=';', expand=True)
df.columns = ["Path", "amount_of_shows"]+[f"category{x}" for x in range(1, 11)]

df['amount_of_shows'] = df['amount_of_shows'].astype(int)
df

,Path,amount_of_shows,category1,category2,category3,category4,category5,category6,category7,category8,category9,category10
0,http://localhost:8080/static/image1.jpg,44,rabbit,banana,gim,None,None,None,None,None,None,None
1,http://localhost:8080/static/image2.jpg,4,octopus,sun,None,None,None,None,None,None,None,None
2,http://localhost:8080/static/image3.jpg,8,drill,notebook,None,None,None,None,None,None,None,None
3,http://localhost:8080/static/image4.jpg,2,ink,drill,forest,None,None,None,None,None,None,None
4,http://localhost:8080/static/image5.jpg,44,juice,apple,city,drill,forest,rabbit,lion,koala,octopus,sun
...,...,...,...,...,...,...,...,...,...,...,...,...
994,http://localhost:8080/static/image995.jpg,47,drill,forest,ink,rabbit,queen,notebook,koala,None,None,None
995,http://localhost:8080/static/image996.jpg,36,tea,city,gim,koala,sun,hill,queen,notebook,mouse,octopus
996,http://localhost:8080/static/image997.jpg,34,juice,queen,gim,drill,ink,panda,None,None,None,None
997,http://localhost:8080/static/image998.jpg,20,lion,drill,panda,koala,forest,queen,None,None,None,None
998,http://localhost:8080/static/image999.jpg,35,juice,gim,panda,city,queen,ear,hill,ink,None,None

In [6]:
# cats
req = list(set(df.iloc[:,2:].values.flatten()))
log_ind = []

In [10]:
def reQ():
    '''
    gens for reqs
    '''
    n = random.randint(0, 10)
    m = []
    k = 0
    reqU = []
    while k != n: 
        r = random.randint(0, len(req)-1)
        if i == 0:
            m.append(r)
            k +=1
        elif r in m:
            continue
        else:
            m.append(r)
            k +=1
    for j in range(n):
        reqU.append(req[m[j]])
    return reqU

R = reQ()

def output(R):    
    seq = []
    if R == []:
        top_seq_path = df.iloc[random.randint(0,len(df)-1),0]
        ind_top = df.index[df['Path'] == top_seq_path].tolist()
        log_ind.append(ind_top[0])
    else:
        for i in range(len(R)):
            for k in range(10):
                c = df.index[df[f'category{k+1}'] == R[i]].tolist()
                if c == []:
                    pass
                else:
                    seq.append(c)
        seqU = list(set([item for sublist in seq for item in sublist]))
        df_t = df.iloc[seqU].sort_values(by=['amount_of_shows'], ascending=False)
        top_seq_path = df_t.iloc[0,0]
        ind_top = df.index[df['Path'] == top_seq_path].tolist()        
        if log_ind == []:
            pass
        else:
            if ind_top[0] == log_ind[-1]:
                rand_ind = random.randint(0,len(df_t)-1)
                while log_ind[-1] == rand_ind:
                    rand_ind = random.randint(0,len(df_t)-1)
                else:
                    top_seq_path = df_t.iloc[rand_ind, 0]
                    ind_top = df.index[df['Path'] == top_seq_path].tolist()
        log_ind.append(ind_top[0])
        df.iloc[ind_top,1] = df.iloc[ind_top,1] - 1
        if df.iloc[ind_top,1].values[0] > 0:
            pass
        else:
            top_seq_path = ''
    return top_seq_path, log_ind, df.iloc[ind_top,1].values[0]
output(R)

('http://localhost:8080/static/image4.jpg', [3, 4, 0, 3], 2)